ion-icon {
    font-size: 160px;
  }

  .container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}

.rounded-input {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 16px;
}